/** Mobile first */

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-container {
  background: white;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 20px;
}

.cards-container,
.filter-container {
  width: auto;
}

.filter-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  width: 100%;
}

.filter-item {
  text-align: center;
}

.filter-heading {
  text-align: center;
  font-size: x-large;
  border-bottom: 1px solid;
  margin: 1em;
}

.container-heading {
  margin-left: 1em;
}

.cards-container-block {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.cards-element {
  width: 100%;
  background-color: white;
  border-radius: 4px;
}

@media only screen and (min-width: 700px) {
  /* For desktop: */
  .dashboard-wrapper {
    flex-direction: row;
  }
  .filter-container {
    width: 20%;
    height: 820px;
    margin-right: 20px;
  }
  .cards-container {
    width: 80%;
  }

  .cards-container-block {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
  .cards-container-block {
    grid-template-columns: 1fr 1fr;
  }
}
