/** Mobile first */

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-container {
  background: white;
  border-radius: 10px;
  padding: 1em;
  margin-right: 15px;
}

.cards-container,
.filter-container {
  width: auto;
}
.cards-container {
  padding-right: 25px;
  margin-top: 10px;
}

.filter-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  width: 100%;
}

.filter-item {
  text-align: center;
}

@media only screen and (min-width: 700px) {
  /* For desktop: */
  .dashboard-wrapper {
    flex-direction: row;
  }
  .filter-container {
    width: 20%;
    height: 820px;
  }
  .cards-container {
    width: 80%;
    padding-right: 0px;
    margin-top: 0px;
  }
  .cards-element {
    max-width: 212px;
  }
}

.filter-heading {
  text-align: center;
  font-size: x-large;
  border-bottom: 1px solid;
  margin: 1em;
}

.container-heading {
  margin-left: 1em;
}

.cards-element {
  width: 100%;
    display: inline-block;
    margin-right: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cards-element-image {
  object-fit: cover;
    height: 148px;
    background-color: white;
}

.card-element-details {
    height: 203px;
    background-color: white;
    overflow-y: hidden;
    margin-top: 10px;
    padding-left: 13px;
    text-align: left;
}

.card-element-scroll {
  overflow-y: scroll;
}

.card-element-details p {
  font-size: 14px;
}

.card-element-details ul li {
  font-size: 14px;
}

.cards-container-block {
  text-align: center;
}

.cards-element__heading {
  color: rgb(132, 132, 235)
}

