<section>
  <div class="dashboard-wrapper">
    <!-- Wrapper box of Filters -->
    <div class="filter-container">
      <h2 class="container-heading">Filters</h2>

      <!-- Launch year Filter section -->
      <div class="filter-heading">Launch year</div>
      <div class="filter-table">
        <app-filter-button class="filter-item" *ngFor="let filterVal of filterRange" [filterVal]="filterVal"
          [currentVal]="filterState[constants.LAUNCH_YEAR]" (click)="filterSelection(constants.LAUNCH_YEAR, filterVal)">
        </app-filter-button>
      </div>
      <!-- Launch year Filter section ends -->

      <!-- Succesful Launch Filter section -->
      <div class="filter-heading">Succesful Launch</div>
      <div class="filter-table">
        <app-filter-button class="filter-item" filterVal="True" [currentVal]="filterState[constants.LAUNCH_SUCCESS]"
          (click)="filterSelection(constants.LAUNCH_SUCCESS, true)"></app-filter-button>
        <app-filter-button class="filter-item" filterVal="False" [currentVal]="filterState[constants.LAUNCH_SUCCESS]"
          (click)="filterSelection(constants.LAUNCH_SUCCESS, false)"></app-filter-button>
      </div>
      <!-- Succesful Launch Filter section ends -->

      <!-- Succesful Landing Filter section -->
      <div class="filter-heading">Succesful Landing</div>
      <div class="filter-table">
        <app-filter-button class="filter-item" filterVal="True" [currentVal]="filterState[constants.LAND_SUCCESS]"
          (click)="filterSelection(constants.LAND_SUCCESS, true)"></app-filter-button>
        <app-filter-button class="filter-item" filterVal="False" [currentVal]="filterState[constants.LAND_SUCCESS]"
          (click)="filterSelection(constants.LAND_SUCCESS, false)"></app-filter-button>
      </div>
      <!-- Succesful Landing Filter section ends -->

    </div>
    <div class="cards-container">
      <div class="cards-container-block" *ngIf="launches$ | async as launches">
        <app-result-cards class="cards-element" [launchData]="launch" *ngFor="let launch of launches; index as i">
        </app-result-cards>
      </div>
    </div>
  </div>
</section>